body {
    text-align: center;
    margin: 0;
}

#estado {
    display: flex;
    justify-content: space-between;
    background-color: rgb(207, 205, 205);
    margin-bottom: 20px;
}

p {
    margin: 0;
    padding: 0;
    text-align: left;
}

#seccion-puntos {
    height: 50px;
    width: 120px;
    margin: 15px;
}

#boton-jugar {
    height: 50px;
    width: 80px;
    margin: 15px;
    background-color: white;
}

.cuadro {
    height: 150px;
    width: 300px;
    margin: 5px;
    padding: 0;
    display: inline-block;
    border: 2px solid black;
}

.verde {
    background-color: green;
}

.rojo {
    background-color: red;
}

.amarillo {
    background-color: yellow;
}

.azul {
    background-color: blue;
}

.tapada {
    background-color: rgb(207, 205, 205);
    transition: 0.5s all;
}
